
img {
    border:1px solid #021a40;
}
.desc {
    margin-left: 5px;
}
.delete {
    background-color: #b31b1b;
    color: white;

    margin: 8px 5px;
    border: none;
    cursor: pointer;
    width: 20px;
    height: 20px;
}